.chapter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  color: #888484;
  font-weight:600;
  font-size: 18px;
  height: 43px;

  label {
    color: #888484;
    font-weight: 600;
    font-size: 18px;
  }
}
.inputField{
  display: flex;
}
.clearInput{
  align-self: flex-end;
  font-size: 15px;
}
.clearInputIcon {
  font-size: 15px !important;
}
.innerStatus{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statusQuery{
  padding: 20px;
  font-weight: 300;
  font-size: 20px;
  color: #888484;
}
.statusQueryIcon{
    font-size: 110px !important;
    color: #888484 ;
}
.buttonMoreLink::after{
  display: none;
}
.buttonMore{
  font-size: 14px;
  color: #888484 !important;
  background-color: transparent !important;
  border-bottom: 1px solid #888484;
  margin: 8px 16px !important;
}
.buttonMore:hover{
  background-color: #888484 !important;
  color:#fff !important;
  transition: all 500ms ease-in-out;
}  

