.root {
  border-bottom: 1px solid #e0e0e0;
}
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 68px;
  a {
    text-decoration: none;
  }
  .cart {
    position: relative;
  }
  .cartCount {
    position: absolute;
    top: 0;
    left: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #888484;
    background-color: #888484;
    p {
      color: #fff;
      font-size: 10px;
    }
  }
}
.link {
  position: relative;
  margin-right: 40px;
  font-weight: 600;
  color: #888484;
}
.link::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #888484;
  transform-origin: left center;
  transform: scaleX(0);
}
.link:hover::after {
  transition: all 500ms ease-in-out;
  transform: scaleX(1);
}
.activeLink {
  position: relative;
  margin-right: 40px;
  font-weight: 600;
  color: #000;
}
.activeLink::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #000;
}
